
.text-center {
    margin-top: 40px;
}

#about .btn {
    border: 2px solid #fff;
    width: 40%;
    padding: 15px 22px;
    background: #000;
    border-radius: 5px;
    margin-top: 10px;
}

#about .btn a{
color: #fff;
text-decoration: none;
font-size: 1rem;
font-weight: bold;
}
#about .btn:hover{
    border: 2px solid #1ebba3;
    }

    img{
        width: 500px;
        height: 400px;
        
    }

    .z{
        margin-top: 92px;
    }
    