input[type=text], [type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: mediumpurple;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: deeppink;
  }
  
  
  .contactform {
    position: relative;    
    border-radius: 50px;
    background-color: #f2f2f2;
    padding: 5px;
    z-index:2;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:auto;
    margin-top:3%;    
    width: 50%;
    animation-name: gradient;
    animation-duration: 3s;
    animation-iteration-count: infinite;  
      
  }
      
  .contactform:hover { 
   animation-name: gradient;
   animation-duration: 15s;
   animation-iteration-count: infinite;    
      
     
  }
  
  
  .column {
    float: center;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
      
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: auto;
      margin-top:0;
    }
  }
  
  
  @keyframes gradient {
    0%   {background-color: #D78DDB;}
    20%   {background-color: #7AF2C3;}
    40%  {background-color: #759CEC;}
    60%   {background-color: #23F2EB;}
    80%  {background-color: #F27723;}       
    100% {background-color: #AD3BD7;}
  }
  